{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<h1>Categories</h1>
<h2 class="lead">Manage categories and access related todos or tasks</h2>
{% endblock %}