{% extends 'base.html.twig' %}

{% block title %}New UserGroup{% endblock %}

{% block body %}
    <h1>Create new UserGroup</h1>

    {{ include('admin/user_group/_form.html.twig') }}

    <a href="{{ path('admin_user_group_index') }}">back to list</a>
{% endblock %}
