{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Admin interface</h1>

    {% for entity in entities %}
        <h4><a href="{{ path(entity ~ '_index') }}">{{ entity|capitalize }}</a></h4>
    {% endfor %}
</div>
{% endblock %}
