{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

<h1>Projects</h1>
<h2 class="lead">Create, manage your projects and get tasks from other projets manager</h2>
{% endblock %}