{{ form_start(form, {'action': path('category_new', { 'redirect': redirect })}) }}
    {{ form_widget(form) }}
    <button class="btn btn-info submit-btn">Create category</button>
{{ form_end(form) }}